.game-container{
    -fx-background-image: url("../image/background.png");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.Close{
    -fx-background-image: url("../image/close.png");
    -fx-pref-width: 48;
    -fx-pref-height: 48;
    -fx-background-color: rgba(255, 255, 255, 0);

}
.Close:hover{
    -fx-background-color:rgba(255, 255, 255, 0.44) ;
}

.Avatar{
    -fx-spacing: 15;
    -fx-padding: 10;
}

.btn-container{
    -fx-alignment: right;
}

.Avatar-container1{
    -fx-background-color: rgba(202, 202, 202, 0.42);
    -fx-pref-height: 232;
    -fx-pref-width: 260;
    -fx-spacing: 10;
}

.image-container{
    -fx-spacing: 10;
    -fx-padding: 10;
}

.sauvegardeImage{
    -fx-background-image: url("../image/dossier.png");
    -fx-pref-width: 24;
    -fx-pref-height: 24;
    -fx-background-color: rgba(112, 69, 29, 0);
}

.sauvegardeImage:hover{
    -fx-background-color: rgba(255, 255, 255, 0.44);
}

.speudo-container{
    -fx-spacing: 10;
    -fx-padding: 10;
}

.sauvegardeSpeudo{
    -fx-background-image: url("../image/sauvegarder.png");
    -fx-pref-width: 24;
    -fx-pref-height: 24;
    -fx-background-color: rgba(255, 255, 255, 0);
}

.sauvegardeSpeudo:hover{
    -fx-background-color: rgba(255, 255, 255, 0.44);
}

.speudo{
    -fx-pref-width: 200;
}

.reset{
    -fx-background-image: url("../image/poubelle.png");
    -fx-pref-width: 32;
    -fx-pref-height: 32;
    -fx-background-color: rgba(255, 255, 255, 0);
}

.reset:hover{
    -fx-background-color: rgba(255, 255, 255, 0.44);
}