/* Styles pour le jeu Bomberman */

.game-container {
    -fx-background-image: url("../image/background.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;

}

.btn-container {
    -fx-alignment: center;
    -fx-padding: 300;
    -fx-spacing: 20;
}

.btn{
    -fx-background-color: rgba(255, 255, 255, 0.46);
    -fx-background-radius: 50;
}

.btn:hover {
    -fx-background-color: rgba(255, 255, 255, 0.92);
}



